.backgroundPic {
	background: url(../img/back.jpg);  /*adding image as the background of the div*/
	height: 100vh;  /*takes 100% height of the screen*/
	width: 100vw;  /*takes 100% width of the screen*/
	background-size: cover;
	background-repeat: none;
}

